*{
    font-family: 'lato',sans-serif;
}
button{
    outline: none;
}

hr{
    width: 50%;
}

.navbar{
    display: grid;
    background-color: white;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 10px;   
    margin-left: 5%;
    margin-right: 5%;
}

.logo{
    display: flex;
    justify-items: center;
    align-items: flex-end;
}

.home{
    display: flex;
    justify-self: center;
    align-self: center;
}

.features{
    display: flex;
    justify-self: center;
    align-self: center;
}

.pricing{
    display: flex;
    justify-self: center;
    align-self: center;
}

.how{
    display: flex;
    justify-self: center;
    align-self: center;
}

.support{
    display: flex;
    justify-self: center;
    align-self: center;
}

.navbar>.signin{
    display: flex;
    justify-self: flex-end;
    align-self: center;
}

.navbar>.signup{
    justify-self: center;
    align-self: center;
}

button.try{
    display: inline-flexbox;
    justify-self: center ;
    align-self: center;
    padding: 10px 20px 10px 20px;
    border-radius: 12px;
    border: 1px solid #0f40da;
    background-color: #0f40da;
    color: white;
    font-size: 18px;
}

button.signin0{
    display: inline-flexbox;
    justify-self: center ;
    align-self: center;
    padding: 10px 25px 10px 25px;
    border-radius: 12px;
    border: 2px solid #0f40da;
    background-color: white;
    color: #0f40da;
    font-size: 18px;
}

.signin>a{
    color:#0f40da;
}

.signup>a{
    color:white;
}

button.signin{
    font-size: 20px;
}


a{
    text-decoration: none;
    color: black;
}

.headercontent {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: 
        headermain headerimg;
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
}

.headermain>h2{
    font-size: 75px;
    margin: 20% 0 0 0;  
}

.headermain>h3{
    font-size: 50px;
    margin: 5% 0 5% 0;
}

.headermain>h4{
    margin: 5% 0 5% 0;
    font-size: 30px;
    color: #8b8b8b
}

.headermain>button.signin{
    border-radius: 15px;
    padding: 20px;
    font-size: 25px;
    border-color: #0f40da;
    color: #0f40da;
}

.headermain>button.signup{
    border-radius: 15px;
    padding: 20px;
    font-size: 25px;
    margin-right: 3%;
    border-color: #0f40da;
    background-color: #0f40da;
    color: white;
}

.headermain>p{
    margin: 5% 0 5% 0;
    font-size: 25px;
}

.headermain>p{
    color: #787878;
}

.headermain>a.headermainsignin{
    color: #8b8b8b;
}

button.headermainsignin{
    padding: 0;
    border-radius: 12px;
    border: none;
    background-color: white;
    color: #8b8b8b;
    font-size: 25px;
    font-weight: bold;
    display: inherit;
}

.headerimg{
    display: flex;
    align-content: center;
    justify-content: center;
    width: max-content;
    margin-top: 15%;
    margin-right: 15%;
}

/*FOOTER CSS*/

.btn {
    width: 200px;
    height: 50px;
    background-color: #88f157;
    border-radius: 15px;
    border: 2px solid #A2D9CE;
}

.btn:hover{
    background-color: #A2D9CE;
}

.btn-md {
    width: 200px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 15px;
    border: 2px solid #A2D9CE;
}

.btn-md:hover{
    background-color: #A2D9CE;
}







/*SIGN IN*/

.leftbackground{
    width: 1080px;
    height: 1920px;
    background-color: #0f40da;
    clip-path: ellipse(75% 58% at 15% -3%);
}

/* .signinleft{
clip-path: ellipse(130px 170px at 5% 5%);
} */

.signincontainer{
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-areas: 
    signinleft signinright;
}

.signinright{
    display: grid;
    grid-template-columns: 500px 1fr;    
    grid-gap: 300px;
}

form.formsignin {
    position: absolute; 
    left: 65%; 
    top: 30%;
}

label{
    grid-column: 1/2;
}

.signinright>h2{
    font-size: 60px;
    margin-top: 20%;
    margin-left: 25%;
}

input{
    grid-column: 2/3;
    width: 150%;
    box-sizing: content-box;
    border: 2px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 20px 20px 12px 40px;
    margin-bottom: 50px;
}

.signinright>.signin1{
    display: flex;
    border: 1px solid #0f40da;
    padding: 7px 20px 7px 20px;
    border-radius: 7px;
    text-decoration: none;
}