*{
    font-family: 'lato',sans-serif;
}

.navbar{
    display: grid;
    background-color: white;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 10px;   
    margin-left: 5%;
    margin-right: 5%;
}

.logo{
    display: flex;
    justify-items: center;
    align-items: flex-end;
}

.home{
    display: flex;
    justify-self: center;
    align-self: center;
}

.features{
    display: flex;
    justify-self: center;
    align-self: center;
}

.pricing{
    display: flex;
    justify-self: center;
    align-self: center;
}

.how{
    display: flex;
    justify-self: center;
    align-self: center;
}

.support{
    display: flex;
    justify-self: center;
    align-self: center;
}

.navbar>.signin{
    display: flex;
    justify-self: flex-end;
    align-self: center;
    border: 1px solid #0f40da;
    padding: 7px 20px 7px 20px;
    border-radius: 7px;
    color: #0f40da;
}

.navbar>.signup{
    display: flex;
    justify-self: center;
    align-self: center;
    border: 1px solid #0f40da;
    background-color: #0f40da;
    color: white;
    margin-right: 10%;
    padding: 7px 20px 7px 20px;
    border-radius: 7px;
}

.signin>a{
    color:#0f40da;
}

.signup>a{
    color:white;
}

button.signin{
    font-size: 20px;
}


a{
    text-decoration: none;
    color: black;
}

.headercontent {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: 
        headermain headerimg;
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
}

.headermain>h2{
    font-size: 75px;
    margin: 20% 0 0 0;  
}

.headermain>h3{
    font-size: 50px;
    margin: 5% 0 5% 0;
}

.headermain>h4{
    margin: 5% 0 5% 0;
    font-size: 30px;
    color: #8b8b8b
}

.headermain>button.signin{
    border-radius: 15px;
    padding: 20px;
    font-size: 25px;
    border-color: #0f40da;
    color: #0f40da;
}

.headermain>button.signup{
    border-radius: 15px;
    padding: 20px;
    font-size: 25px;
    margin-right: 3%;
    border-color: #0f40da;
    background-color: #0f40da;
    color: white;
}

.headermain>p{
    margin: 5% 0 5% 0;
    font-size: 25px;
}

.headermain>p{
    color: #787878;
}

.headerimg{
    display: flex;
    align-content: center;
    justify-content: center;
    width: max-content;
    margin-top: 15%;
}

